*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 80%;
    height: 40px;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.load{
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: dodgerblue;
    border-radius: 20px;
    position: absolute;
    transition: 1s;
    right: 100%;
}
.main:hover .load{
    width: 100%;
    background: dodgerblue;
    opacity: 1;
    right: 0;
}